body{
    background:#000;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
.wrap{
    margin:auto;
    width:300px;
     
}
.cube{
    animation-name:cube;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-duration:12s;
    transform-style:preserve-3d;
    transform-origin:60px 60px 0;
}
.cube div{
    position:absolute;
    width:120px;
    height:120px;
    border:1px solid #ccc;
    background:rgba(255,255,255,0.8);
    box-shadow:inset 0 0 20px rgba(0,0,0,0.2);
    line-height:120px;
    text-align:center;
    font-size:120px;
    font-weight:bold;
}
.face1{
    transform:translateZ(60px);
}
.face2{
    transform:rotateY(90deg) translateZ(60px);
}
.face3{
    transform:rotateY(90deg)rotateX(90deg) translateZ(60px);
}
.face4{
    transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
}
.face5{
    transform:rotateY(-90deg)rotateZ(90deg) translateZ(60px);
}
.face6{
    transform:rotateX(-90deg) translateZ(60px);
}
@keyframes cube{
from,to{
    transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
16%{
    transform:rotateY(-90deg);
}
33%{
    transform: rotateY(-90deg) rotateZ(90deg);
}
50%{
    transform: rotateY(-180deg) rotateZ(90deg);
}
66%{
    transform: rotateY(-270deg) rotateX(90deg);
}
83%{
    transform: rotateX(90deg);
}
}